@model List<Category> 
@* the passed object(which retrive the data from database)
 in category controller's action method is captured using @model *@

<h1>Category List</h1>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
         </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var obj in Model.OrderBy(u => u.DisplayOrder))
    {

        <tr>
            <td>@obj.Name</td>
            <td>@obj.DisplayOrder</td>
        </tr>
    }
    </tbody>
</table>